<div class="gift--card card {{ 'row-span-2' if post.data.img else 'row-span-1' }}">
    <h2 class="gift--title">{{ post.data.title }}</h2>
    {% if (post.data.img) %}
    	<img class="gift--image" src="{{ post.data.img }}" alt="{{ post.data.imgAlt }}">
    {% endif %}
    <p class="gift--antall fs-small mb-0">{{ post.data.antall }}</p>
    <p class="gift--hvem fs-small">{{ post.data.hvem }}</p>
    {% if (post.data.desc) %}
    	<p class="gift--description">{{ post.data.desc }}</p>
    {% endif %}
    {% if (post.data.externalUrl) %}
    	<a class="btn" href="{{ post.data.externalUrl }}">Se Mer</a>
    {% endif %}
</div> 
