<nav>
    <ul>
        <li>
            <a class="border-radius-5 menu--item {{ 'active' if '/' === page.url}}" href="/">Begge</a>
        </li>
        <li>
            <a class="border-radius-5 menu--item {{ 'active' if '/mari/' in page.url}}" href="/mari">Mari</a>
        </li>
        <li>
            <a  class="border-radius-5 menu--item {{ 'active' if '/fredrik/' in page.url}}" href="/fredrik">Fredrik</a>
        </li>
    </ul>
</nav>
