@import url("https://fonts.googleapis.com/css?family=Nunito&display=swap");

:root {
  --clr-primary-900: hsla(176, 20%, 10%, 1);
  --clr-primary-800: hsla(176, 20%, 20%, 1);
  --clr-primary-700: hsla(176, 20%, 30%, 1);
  --clr-primary-600: hsla(176, 20%, 40%, 1);
  --clr-primary-500: hsla(176, 20%, 50%, 1);
  --clr-primary-400: hsla(176, 20%, 60%, 1);
  --clr-primary-300: hsla(176, 20%, 70%, 1);
  --clr-primary-200: hsla(176, 20%, 80%, 1);
  --clr-primary-100: hsla(176, 20%, 90%, 1);

  --clr-second-100: hsla(7, 23%, 93%, 1);
  --clr-second-200: hsla(7, 23%, 83%, 1);
  --clr-second-300: hsla(7, 23%, 73%, 1);
  --clr-second-400: hsla(7, 23%, 63%, 1);
  --clr-second-500: hsla(7, 23%, 53%, 1);
  --clr-second-600: hsla(7, 23%, 45%, 1);
  --clr-second-700: hsla(7, 23%, 35%, 1);
  --clr-second-800: hsla(7, 23%, 25%, 1);
  --clr-second-900: hsla(7, 23%, 15%, 1);

  --clr-font: var(--clr-primary-900);
  --clr-white: hsl(0, 0%, 90%, 1);

  --ff-heading: 'Nunito', sans-serif;
  --ff-body: var(--ff-heading);
}

* {
  box-sizing: border-box;
  margin: 0;
}

* + * {
  margin-bottom: 1em;
}

html {
  min-height: 100vh;
}

body {
  margin: 0 auto;
  padding: 0;
  display: grid;
  grid-template-rows: 15em auto 10em;
  justify-content: stretch;
  font-family: var(--ff-body);
  /* width: clamp(19em, 70%, 60em); */
  width: min(90%, 60em);
  min-height: 100vh;
  color: var(--clr-font);
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1em;
  text-transform: uppercase;
}

@media (min-width: 45em) {
  body {
    grid-template-rows: 7em auto 10em;
  }
}

nav {
  color: var(--clr-primary-900);
  font-size: 1.3rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: center;
  padding: 0;
}

@media (min-width: 45em) {
  nav ul {
    flex-direction: row;
  }
}

nav ul li {
  margin: 0;
}

nav a {
  text-decoration: none;
  color: currentColor;
  padding: 1em 2em;
  display: block;
}

nav a:hover {
  background: var(--clr-primary-800);
  color: var(--clr-primary-100);
}

.active {
  background: var(--clr-primary-300);
}

.center-self {
  justify-self: center;
}

.center-content {
  justify-content: center;
  text-align: center;
}

.center-text {
  text-align: center;
}

img {
  max-width: 100%;
}

.gifts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 45em) {
  .gifts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 55em) {
  .gifts {
    grid-template-columns: repeat(3, 1fr);
  }
}

.btn {
  padding: 1em 2em;
  background: var(--clr-primary-400);
  border: 0, 125em solid var(--clr-primary-500);
  color: var(--clr-primary-100);
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  align-self: center;
}

.card {
  display: grid;
  /* grid-template-rows: 10em 12em 2em 2em auto 3em; */
  background: var(--clr-primary-200);
  padding: 1em;
  color: var(--clr-primary-900);
  width: auto;
}

.gift--card {
  margin: 0;
}

.gift--image {
  width: 100%;
  object-fit: cover;
  height: auto;
  background-color: white;
  aspect-ratio: 1/1;
}

.gift--antall::before,
.gift--hvem::before {
  font-weight: 900;
  font-style: italic;
}

.gift--antall::before {
  content: "Antall: ";
}

.gift--hvem {
  text-transform: capitalize;
}

.gift--hvem::before {
  content: "Hvem: ";
}

footer {
  align-self: end;
}
