---
layout: 'base.njk'
---

<h1 class="center-text">Ønskeliste</h1>

<div class="gifts">
    {% for post in collections.gave %}
    <div class="gift--card card">
        <h2 class="gift--title">{{ post.data.title }}</h2>
        <img class="gift--image" src="{{ post.data.img }}" alt="{{ post.data.imgAlt }}">
        <p class="gift--antall">Antall: {{ post.data.antall }}</p>
        <p class="gift--hvem">Hvem: {{ post.data.hvem }}</p>
        <p class="gift--description">{{ post.data.desc }}</p>
    </div> 
    {% endfor %}
</div>
